@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    text-align: center;
}

section {
    margin: auto;
    max-width:800px;
}